OneDrive for Business.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"onedriveforbusiness_Connection_Name":{"defaultValue":"onedriveforbusiness","type":"String","metadata":{"description":"Name of the connection."}},"elasticocr_Connection_Name":{"defaultValue":"elasticocr","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_file_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnNewFile"},"01FEXB4KEXVYSUQIF4WZFKXNRYB57TMLGC":"/Invoices"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['onedriveforbusiness']['connectionId']"}},"method":"get","path":"/datasets/default/triggers/onnewfile","queries":{"folderId":"01FEXB4KEXVYSUQIF4WZFKXNRYB57TMLGC","inferContentType":true},"authentication":"@parameters('$authentication')"}}},"actions":{"Only_process_PDF_files":{"actions":{"Create_a_job_with_a_file":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateJobWithFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['elasticocr']['connectionId']"}},"method":"put","body":"@triggerBody()","headers":{"filename":"@base64ToString(triggerOutputs()['headers']['x-ms-file-name-encoded'])"},"path":"/v1.0/jobs","authentication":"@parameters('$authentication')"}},"Wait_until_the_job_has_completed_processing_and_is_available":{"actions":{"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Minute"}}},"Retrieve_a_job":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetJob"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['elasticocr']['connectionId']"}},"method":"get","path":"/v1.0/jobs/@{encodeURIComponent(body('Create_a_job_with_a_file')?['id'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_a_job_with_a_file":["Succeeded"]},"expression":"@equals(body('Retrieve_a_job')?['status'], 'Available')","limit":{"count":240,"timeout":"PT1H"},"type":"Until"},"Download_a_job":{"runAfter":{"Wait_until_the_job_has_completed_processing_and_is_available":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DownloadJob"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['elasticocr']['connectionId']"}},"method":"get","path":"/v1.0/jobs/download/@{encodeURIComponent(body('Create_a_job_with_a_file')?['id'])}","authentication":"@parameters('$authentication')"}},"Update_file":{"runAfter":{"Download_a_job":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UpdateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['onedriveforbusiness']['connectionId']"}},"method":"put","body":"@body('Download_a_job')","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id']))}","authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Complete_a_job":{"runAfter":{"Update_file":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CompleteJob"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['elasticocr']['connectionId']"}},"method":"post","path":"/v1.0/jobs/complete/@{encodeURIComponent(body('Create_a_job_with_a_file')?['id'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":"@equals(triggerOutputs()['headers']['Content-Type'], 'application/pdf')","type":"If"}},"outputs":{},"description":"This Flow monitors OneDrive for Business and automatically processes PDF files with ElasticOCR. Once processing is complete, the source file is updated and versioned with the completed/OCR'd file."},"parameters":{"$connections":{"value":{"onedriveforbusiness":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]","connectionName":"[parameters('onedriveforbusiness_Connection_Name')]"},"elasticocr":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'elasticocr')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('elasticocr_Connection_Name'))]","connectionName":"[parameters('elasticocr_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('elasticocr_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('onedriveforbusiness_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]"},"displayName":"[parameters('onedriveforbusiness_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('elasticocr_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'elasticocr')]"},"displayName":"[parameters('elasticocr_Connection_Name')]"}}]}